{% extends "base.html" %}
{% load static %}
{% block page_head %}
    <!-- Custom CSS -->
    <link href="{% static 'bigday/css/creative.css' %}" rel="stylesheet">
{% endblock %}
{% block page_content %}
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Le grand jour d'{{ couple_name }}</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#main-header">Accueil</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#event">Le mariage</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#niagara">RSPVP</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#other-stuff">Liste des cadeaux</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    {% block main %}
    <header id="main-header">
        <div class="header-content">
            <div class="header-content-inner">
                <div class="header-date">07.06.24</div>
                <h1>Save
                    the
                    date</h1>
                <hr>
                <!--{% comment %}
                <hr>
                <h2>It's wedding week!</h2>
                <a href="#welcome" class="btn btn-info btn-xl page-scroll">Bienvenue !</a>
                <a href="#event" class="btn btn-primary btn-xl page-scroll">Vendredi</a>
                {% endcomment %}-->
                <div class="header-div">
                    Nous nous
                    marions !
                </div>
            </div>
        </div>
    </header>

    <section class="" id="welcome">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <!--<h2 class="section-heading">Nous allons nous marier !</h2>
                    <hr>
                    <p>
                        Bonjour à nos familles et à nos ami·e·s
                    </p>
                    <p>
                        C'est ici que vous trouverez toutes les informations sur le déroulé de la soirée du <a href="#evenement" class="page-scroll">vendredi</a>.
                    </p>
                    <p>
                        Hâte de vous retrouver toutes et tous !
                    </p>
                    <p class="pull-right">- Angel et Benoît</p>-->
                    <!--<hr style="width: 127px;"><h2>Réservez
                        votre
                        7 juin 2024</h2>-->
                    <hr class="hr-text"
                        data-content="Réservez
                    votre
                    7 juin 2024">
                    <div class="text-content">
                        Nous sommes heureux de vous inviter à notre mariage le vendredi 7 juin 2024 au château du Vivier, à Fontenay en Trésigny (77).

                        Une cérémonie laïque est prévue avant le cocktail d'ouverture des festivités. Nouis vous attendons nombreux !
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="info">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <hr class="hr-text"
                        data-content="Les
                        informations
                        pratiques">

                    <div class="text-content">
                        Voues êtes attendus à partir de 16h au château royal de Viver, Fontenay-Trésigny (77).
                        Une cérémonie laïque ouvrira le bal pour sceller nos voeux avant un cocktail d'honneur. Pour célébrer avec nous ce moment de bonheur, venez havillés de vos plus beaux costumes en rouge ou or. Afin de mieux gérer ce beau jour de fête, merci de répondre à l'invitation avant le ...
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section id="gifts">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">

                    <hr class="hr-text"
                        data-content="Liste
                        des
                        cadeaux">

                    <div class="text-content">
                        Nous avons fait le choix de ne pas faire de iste de mariage car nous souhaitons partir en Chine pour notre Lune de Miel !
                        Une urne sera mise à disposition le jour J. Si vous ne pouvez pas être présent le jour de notre mariage mais que vous souhaitez tout de même nous offrir un quelque chose, merci de nous contacter.

                    </div>
                </div>

            </div>
        </div>
    </section>

    {% endblock %}
{% endblock %}
{% block page_js %}
    <!-- Plugin JavaScript -->
    <!-- Easing is for the vertical scroll animations -->
    <script src="{% static 'creative/js/jquery.easing.min.js' %}"></script>
    <!-- Automatically fit text based on screen size.-->
    <script src="{% static 'creative/js/jquery.fittext.js' %}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{% static 'creative/js/creative.js' %}"></script>
{% endblock %}
