{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block page_head %}
<!-- Custom CSS -->
<link href="{% static 'bigday/css/creative.css' %}" rel="stylesheet">
{% endblock %}
{% block page_content %}
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header col-lg-3">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand page-scroll" href="#page-top">
                Save the date
            </a>

            <form id="form-lang" action="{% url 'set_language' %}" method="post">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}" />
                <select name="language" id="language" class="form-control">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                            {{ language.name_local }}
                        </option>
                    {% endfor %}
                </select>
            </form>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#main-header">
                        {% trans 'Accueil' %}
                    </a>
                </li>
                <li>
                    <a class="page-scroll" href="#wedding">
                        {% trans 'Le mariage' %}
                    </a>
                </li>
                <li>
                    <a class="page-scroll" href="#rsvp">
                        RSVP
                    </a>
                </li>
                <li>
                    <a class="page-scroll" href="#hotels">
                        {% trans 'Hébergement' %}
                    </a>
                </li>
                <li>
                    <a class="page-scroll" href="#gifts">
                        {% trans 'Liste des cadeaux' %}
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
{% block main %}
<header id="main-header">
    <div class="header-content">
        <div class="header-date">07.06.24</div>
        <h1>Save
            the
            date</h1>
        <div class="header-div">
            {% blocktrans %} Nous nous
            marions ! {% endblocktrans %}
        </div>
    </div>

    <a href="#wedding" class="page-scroll">
        <div class="arrow">
            <span></span>
        </div>
    </a>

    <div class="subhead" id="wedding">
        <h2> {% blocktrans %} Réservez
                    votre
                    7 juin 2024 {% endblocktrans %} </h2>
        <div class="col-md-6 col-md-offset-3 text-center text-content">
            {% blocktrans %} Nous sommes heureux de vous inviter à notre
            mariage le vendredi 7 juin 2024 au château du Vivier,
            à Fontenay-Trésigny (77).

            Une cérémonie laïque démarrera les festivités.
            Nous vous attendons nombreux ! {% endblocktrans %}
        </div>
    </div>
</header>

<section id="rsvp">
    <div class="map-grid-container">

        <div class="map-container">
            <style scoped>
                .map {
                    aspect-ratio: 1 / 1;
                    @media screen and (orientation:portrait) {
                        height: 100%;
                    }
                }
            </style>
            <iframe width="70%"
                    frameborder="1"
                    allowfullscreen
                    allow="geolocation"
                    src="//umap.openstreetmap.fr/fr/map/carte-sans-nom_999518?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=true&editMode=disabled&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=undefined&captionBar=false&captionMenus=true"
                    class="map">
            </iframe>
            <p>
                <a href="//umap.openstreetmap.fr/fr/map/carte-sans-nom_999518?scaleControl=false&miniMap=false&scrollWheelZoom=true&zoomControl=true&editMode=disabled&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=undefined&captionBar=false&captionMenus=true">
                    {% trans 'Voir en plein écran' %}
                </a>
            </p>
        </div>

        <div class="info-container">
            <h2>
                {% blocktrans %} Les
                informations
                pratiques {% endblocktrans %} </h2>
            <div class="text-content">
                {% blocktrans %} <h2>Les informations pratiques</h2>
Nous sommes ravis de partager avec vous les détails de notre journée spéciale! 
Vous êtes attendus à partir de 16h au château royal de Viver, Fontenay-Trésigny (77) pour une soirée festive et remplie de joie. 
Voici quelques détails à ce sujet : 

Cérémonie laïque : 
   - Heure : 17h
   - Lieu : Château de Vivier
   - Durée : 1h

Cocktail d'Ouverture :

   - Heure : 18h
   - Lieu : Château de Vivier 
   - Durée : Le cocktail d'ouverture durera 2 heures, rempli de délicieuses boissons, d'amuse-bouches exquis, et d'une ambiance festive.

Dress Code :

  Le thème de notre mariage sera "rouge et or". Venez donc parés de plus beaux ornements :) !

Pas d'Entrées au Dîner :

    Veuillez noter que notre dîner ne comportera pas d'entrées formelles. Nous souhaitons que le cocktail soit une expérience gourmande complète avant de savourer un délicieux repas plus tard dans la soirée.

Partageons des Moments Mémorables :

    Nous sommes impatients de créer des souvenirs inoubliables avec vous lors de ce cocktail. Profitez-en pour vous détendre, faire connaissance avec d'autres invités et simplement vous imprégner de l'amour qui nous entoure.

Nous sommes honorés de partager ce moment avec vous et avons hâte de célébrer ensemble. Merci de faire partie de notre histoire d'amour!

Avec amour,

Angel et Benoît 

<h2>RSVP</h2>
                Afin de gérer au mieux ce jour de fête, merci de <a href="https://framaforms.org/rsvp-de-notre-mariage-angel-benoit-1705788344">répondre à l'invitation</a> avant le 28 février 2024.{% endblocktrans %}
            </div>

            <a href="https://framaforms.org/rsvp-de-notre-mariage-angel-benoit-1705788344">
                <button class="btn btn-lg text-uppercase btn-primary cta">
                    {% trans 'Je dis oui'%}
                </button>
            </a>
        </div>
    </div>
</section>

<section id="hotels">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-lg-offset-2 text-center">
                <div class="text-content">
                    {% blocktrans %} Voici la liste des hôtels aux alentour du domaine: {% endblocktrans %}
                </div>
                <div class="text-content hotels">
                    <div class="hotel">
                        <span style="font-weight: bold;">HOTEL KYRIAD</span>
                        114 rue Bertaux
                        77610 Fontenay Trésigny
                        01 64 42 64 80
                        <a href="https://www.kyriad.com/fr/hotels/kyriad-fontenay-tresigny">{% blocktrans %}plus d'infos{% endblocktrans %}</a>
                    </div>
                    <div class="hotel">
                        <span style="font-weight: bold;">LE PORTAIL BLEU</span>
                    2 route de Fontenay
                    77610 Châtres
                    01 64 25 84 94
                    <a href="http://www.leportailbleu.com/">{% blocktrans %}plus d'infos{% endblocktrans %}</a>
                    </div>
                    <div class="hotel">
                        <span style="font-weight: bold;">HOTEL 1ERE CLASSE</span>
                        114 rue Bertaux
                        77610 Fontenay Trésigny
                        01 64 42 61 82 {% blocktrans %}(avant 11h ou après 17h){% endblocktrans %}
                        fontenaytresigny@premiereclasse.fr
                    </div>

                    <div class="hotel">
                        <span style="font-weight: bold;">LE RELAIS</span>
                        53 rue Bertaux
                        77610 Fontenay Trésigny
                        01 64 42 64 60
                    </div>

                    <div class="hotel">
                        <span style="font-weight: bold;"> FRANÇOISE ET MICHEL RIEUL</span>
                        22 rue Gallier
                        77390 Chaumes
                        06 72 84 75 46
                        mhriel@gmail.com
                        {% blocktrans %}Chambres d'hôtes capacité 10 pers{% endblocktrans %}
                        <a href="https://chezfrancoiseetmichel.wordpress.com/">{% blocktrans %}plus d'infos{% endblocktrans %}</a>
                    </div>

                    <div class="hotel">
                        <span style="font-weight: bold;">LYDIE LANDART</span>
                        18 rue Jules Raimu
                        77173 Chevry Cossigny
                        06 69 49 97 80
                        {% blocktrans %}Chambres d'hôte
                        9 couchages{% endblocktrans %}
                    </div>
                </div>
                <div class="hotel">
                    <span style="font-weight: bold;">MANOIR DE BEAUMARCHAIS</span>
                    77610 Les Chapelles Bourbon
                    01 64 07 11 08
                    <a href="https://www.beaumarchais.eu/">{% blocktrans %}plus d'infos{% endblocktrans %}</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="gifts">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-lg-offset-2 text-center">

                <h2 class="gifts"> {% blocktrans %} Liste
                        des
                    cadeaux {% endblocktrans %} </h2>

                <div class="text-content">
                    {% blocktrans %} Nous avons fait le choix de ne pas faire de liste de mariage car nous souhaitons partir en Chine pour notre Lune de Miel !
                    Une urne sera mise à disposition le jour J. Si vous ne pouvez pas être présent le jour de notre mariage mais que vous souhaitez tout de même nous offrir un quelque chose, merci de nous contacter. {% endblocktrans %}
                </div>

                <a href="mailto:angel-benoit@quaidu13.fr?subject=Question pour le mariage du 7 juin" >
                    <button class="btn btn-lg text-uppercase btn-primary ">
                    Contact
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>

{% endblock %}
{% endblock %}
{% block page_js %}
<!-- Plugin JavaScript -->
<!-- Easing is for the vertical scroll animations -->
<script src="{% static 'creative/js/jquery.easing.min.js' %}"></script>
<!-- Automatically fit text based on screen size.-->
<script src="{% static 'creative/js/jquery.fittext.js' %}"></script>
<!-- Custom Theme JavaScript -->
<script src="{% static 'creative/js/creative.js' %}"></script>
{% endblock %}
